.FacturaInfo__title{
    text-align: center;
}

.FacturaInfo__info {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
}

.FacturaInfo__info__cliente,
.FacturaInfo__info__direccion,
.FacturaInfo__info__telefono,
.FacturaInfo__info__duenio,
.FacturaInfo__info__barrio,
.FacturaInfo__info__fecha {
  flex-basis: 50%;
  margin-bottom: 8px;
}

.FacturaInfo__info__fecha{
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.SelectCliente{
    width: 100%;
    height: 40px;
    border-radius: 50px;
}

.FacturaInfo__info__boton {
  height: 60%;
  background-color: #99ff33 !important;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 5px;
}