

.BuscarFacturaInfo{
    display: flex;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.campoBuscarFacturaInfo__info{
    display: flex;
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    
}

