:root {
  --yellow: linear-gradient(180deg, #f8d49a -146.42%, #fad79d -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #bb67ff 0%, #c484f3 100%);
  --pink: #ff919d;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
}

.App {
  background: linear-gradient(
    106.37deg,
    #ffe1bc 9.63%,
    #ffcfd1 31.55%,
    #f3c6f1 90.85%
  );
  height: 97.7vh;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  flex-direction: column;
}

.AppGlass {
  display: grid;
  height: 97%;
  width: 97%;
  border-radius: 2rem;
  background-color: var(--glass);
  overflow: hidden;
  grid-template-columns: 11rem auto;
  gap: 40px;
}

.AppGlass::-webkit-scrollbar {
  width: 0.5em; /* Ancho de la barra de desplazamiento */
}

.AppGlass::-webkit-scrollbar-track {
  background-color: transparent; /* Color de fondo de la barra de desplazamiento */
}

@media screen and (max-width: 1200px) {
  .AppGlass {
    grid-template-columns: 10% auto !important;
  }
 
}

@media screen and (max-width: 768px) {
  .AppGlass {
    grid-template-columns: 1fr !important;
  }
  .AppGlass::-webkit-scrollbar {
    display: none;
  }
}
